body {
    background-color: bisque;
}
.container {
    width: 80%;
    margin: auto;
}
.row {
    width: 100%;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.column {
    float: left;
    padding: 10px;
    border: 1px solid antiquewhite;
    color: white;
    background-color: #6D757D;
    text-align: center;
}
.column.one-half {
    width: calc(50% - 22px);
}
.column.one-third {
    width: calc(33.33% - 22px);
}
.column.one-fourth {
    width: calc(25% - 22px);
}
.column.one-sixth {
    width: calc(16.66% - 22px);
}
.column.one-eighth {
    width: calc(12.5% - 22px);
}
.column.one {
    width: calc(100% - 22px);
}