
* {
    box-sizing: border-box;
}
body {
    background-color: bisque;
}
.container {
    width: 80%;
    margin: auto;
}
.row {
    width: 100%;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.column {
    float: left;
    padding: 10px;
    border: 1px solid antiquewhite;
    color: white;
    background-color: #6D757D;
    text-align: center;
}
.column.one-half {
    width: 50%;
}
.column.one-third {
    width: calc(100% / 3);
}
.column.one-fourth {
    width: 25%;
}
.column.one-sixth {
    width: calc(100% / 6);
}
.column.one-eighth {
    width: calc(100% / 8);
}
.column.blank {
    width: 100%;
    display: hidden;
    background-color: bisque;
    border: none;
}

@media screen and (max-width: 720px) {

    .container {
        width: 100%;
    }
    .column.one-half, .column.one-third {
        width: 100%;
    }
    .column.one-fourth, .column.one-sixth {
        width: 50%;
    }
    .column.one-eighth {
        width: 25%;
    }
}