
body {
    font-family: 'VT323', monospace;
    font-size: 3em;
    margin-left: 5px;
    margin-right: 5px;
}

h1 {
    font-size: 2.5em;
    text-align: center;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    border: 10px solid black;
    margin-top: 0px;
    margin-bottom: 0px;
}

.buttons {
    text-align: center;
}

#picture-div {
    display: table;
    width: 85%;
    margin: 0 auto;
}

.success-picture {
    margin-top: 0px;
    height: 530px;
    background-size: cover;
    /*margin-left: 10px;*/
    /*margin-right: 10px;*/
    padding-left: 10px;
    padding-right: 10px;
    background-repeat: no-repeat;
}