
* {
    font-family: 'Titillium Web', Arial, sans-serif;
}

body {
    background-image: url("https://media.istockphoto.com/vectors/molecular-structure-abstract-tech-background-medical-design-vector-vector-id1025210200");
    background-size: cover;
}

.fancy-header {
    color:#903da9;
    text-align: center;
    text-decoration: underline;
}

p {
    text-align: center;
}

img {
    height: 500px;
    width: 500px;
    padding: 1px;
    border: 1px solid;
    margin: 1px;
    opacity: .89;
}

div#imgcenter {
    display: table;
    margin-left: auto;
    margin-right: auto;
}

.headers {
    color: cornflowerblue;
    text-decoration: underline;
    margin-left: 5%;
}

ul, ol {
    margin-left: 5%;
}

ul>li {
    list-style-type: circle;
}

table {
    table-layout: fixed;
    width: 78%;
    border-bottom: 2px solid;
    border-color: cornflowerblue;
    border-spacing: 0;
    text-align: center;
    font-size: 1.2em;
    padding: 1px;
    display: table;
    margin-left: auto;
    margin-right: auto;
}

tr {
    border-left: 2px solid;
    border-right: 2px solid;
    border-color: cornflowerblue;
}

th {
    text-decoration: underline;
    padding: 1px;
}

td {
    border-top: 2px solid;
    border-right: 1px solid;
    border-left: 1px solid;
    border-color: cornflowerblue;
    padding: 1px;
}

h3#center {
    text-align: center;
}

a:link {
    color: deepskyblue;
}

a:visited {
    color: black
}

a:hover {
    transition: font-size 800ms, color 800ms;
    font-size: 120%;
    color: #903da9;
    transition-timing-function: ease-in-out;
}

