
* {
    font-family: "pt sans" , "sans-serif" , "serif";
}

body {
    background-image: url("https://media.istockphoto.com/vectors/molecular-structure-abstract-tech-background-medical-design-vector-vector-id1025210200");
    background-size: cover;
}

.fancy-header {
    color: #800080;
    text-align: center;
    text-decoration: underline;
}

img {
    height: 500px;
    width: 500px;
    padding: 1px;
}

.headers {
    color: cornflowerblue;
    text-decoration: underline;
}

ul>li {
    list-style-type: circle;
}

table {
    table-layout: fixed;
    width: 71%;
    border-bottom: 1px solid black;
    border-color: cornflowerblue;
    border-spacing: 0px;
    text-align: center;
    font-size: 1.2em;
    padding: 1px;
}

th {
    text-decoration: underline;
    padding: 1px;
}

td {
    border-top: 0.5px solid black;
    border-right: .1px solid black;
    border-left: .1px solid black;
    border-color: cornflowerblue;
    padding: 1px;
}

a:link {
    color: deepskyblue;
}

a:visited {
    color: black
}

a:link:hover {
    background-color: white;
}