
/*#mapWrapper {*/
/*    width: 100%;*/
/*    height: 350px;*/
/*    text-align: center;*/
/*}*/

/*#map {*/
/*    !*display: inline-block;*!*/
/*}*/

#map {
    width: 500px;
    height: 350px;
    top: 30px;
    left: 460px;
    border: 5px solid grey;
}