
#map {
    width: 700px;
    height: 350px;
    top: 30px;
    left: 352.5px;
    border: 5px solid grey;
}

#heading {
    position: relative;
    font-size: 2.5em;
}

#mainContainer {
    height: 7000px;
    background: url("../img/2a9fab17327b297342e1e2ec897e8fc0.png") no-repeat center center fixed;
    background-size: cover;
}

#todaysImg {
    content: url("../img/climacons-master/SVG/Cloud-Sun.svg");
    width: 50px;
    height: 50px;
    position: relative;
    left: 205px
}

#tomorrowImg {
    content: url("../img/climacons-master/SVG/Cloud-Sun.svg");
    width: 50px;
    height: 50px;
    position: relative;
    left: 205px
}

#tdatImg {
    content: url("../img/climacons-master/SVG/Cloud-Sun.svg");
    width: 50px;
    height: 50px;
    position: relative;
    left: 200px
}

#currentImg {
    content: url("../img/climacons-master/SVG/Cloud-Sun.svg");
    width: 50px;
    height: 50px;
    position: fixed;
    top: 12.25px;
    right: 100px;
}